<div class="container">
  <section class="imagem-section">
    <app-image
      class="imagem"
      [imageSrc]="imageSrc.src"
      [imageAlt]="imageAlt"
      [imageClass]="'scarcrow'"
    ></app-image>
  </section>
  <section class="text-section">
    <div *ngFor="let item of itens">
      <app-typograph
        [text]="item.text"
        [fontSize]="item.fontSize"
        [color]="item.color"
        [lineHeight]="item.lineHeight"
      ></app-typograph>
    </div>
    <div class="btn-section">
      <app-button
        [buttonType]="buttonType"
        [buttonText]="buttonText"
      ></app-button>
    </div>
  </section>
</div>
