.container {
  display: flex;
  height: 500px;
  align-items: flex-start;
  justify-content: center;
  font-family: "Space Mono";
  letter-spacing: -0.035em;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}
.text-section {
  margin-left: 5vw;
  margin-top: 8vw;
  @media all and (max-width: 768px) {
    margin-top: 0 !important;
  }
}
.btn-section {
  margin-top: 4vw;
  @media all and (max-width: 768px) {
    margin-top: 18vw !important;
    margin-bottom: 18vw !important;
  }
}
.imagem-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-right: 5vw;
  @media all and (max-width: 768px) {
    height: 200px;
    width: 100%;
  }
}
