.btn {
  background: #333333;
  width: 136px;
  height: 50px;
  left: 783px;
  top: 687px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}
