.mainTitle {
  font-size: 54px;
  vertical-align: top;
  margin: 0;
  width: 350px;
}
.mainText {
  display: flex;
  width: 35%;
  font-family: "Space Mono";
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}
