/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;600;700&family=Space+Mono:wght@400;700&display=swap");

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
  blockquote {
    text-align: center;
  }
  button {
    cursor: pointer;
  }
}
.container p {
  line-height: 5px !important;
}
.container h1 {
  line-height: 40px !important;
  margin-bottom: 2vw !important;
  max-width: 350px !important;
}
